* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #1a1c19;
}

.container {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  border: 1px #e0d6c2 solid;
  background: rgba(0, 0, 0, 0);
  border-radius: 28px;
  padding: 3x;
  width: 100%;
  max-width: 100%;
}

.navbar-left {
  display: flex;
  margin: 5px;
}

.navbar-right {
  display: flex;
  margin: 5px;
}

.navbar-items {
  border: 1px #e0d6c2 solid;
  border-radius: 25px;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 1px;
  color: #e0d6c2;
  font-size: 14px;
  font-weight: 500;
  height: auto;
  letter-spacing: -0.02em;
  line-height: 1.4;
  text-align: center;
  width: auto;
  max-width: 100%;
  justify-content: center;
}

#navbar-heading {
  padding-left: 100px;
  padding-right: 100px;
  border: 0px;
  background: rgba(155, 134, 79, 0.2);
}

.main-content {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0);
  flex: 1;
  flex-direction: row;
  height: auto;
  justify-content: flex-start;
  margin: 10px 0px 0px 0px;
  width: 100%;
  max-width: 100%;
}

.left-side {
  background: #e0d6c2;
  border: 0px solid rgba(0, 0, 0, 0.35);
  border-radius: 30px;
  flex: none;
  text-align: center;
  height: 100%;
  margin: 0px 10px 0px 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 20px;
}

.right-side {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  margin: 0px 0px 0px 0px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.sub-title {
  border-radius: 14px;
  border: 1px solid #342415;
  height: auto;
  width: auto;
  padding: 0px 5px 0px;
}

.image-1 {
  overflow: hidden;
  width: 25rem;
  border-radius: 15px;
  padding: 10px;
}

.sub-footer {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.section-1 {
  background: #8f8868;
  border-radius: 30px;
  padding: 10px;
  margin-top: 20px;
}

.section-2 {
  display: flex;
  flex-direction: row;
}

.content {
  height: 25vh;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 15px;
  margin: 15px;
  padding: 10px;
}

.sub-section-1 {
  background: #976c54;
  overflow: hidden;
  border-radius: 30px;
  margin: 5px;
  padding: 5px;
}

.sub-section-2 {
  background: #b5a38d;
  overflow: hidden;
  border-radius: 30px;
  margin: 5px;
  padding: 10px;
  position: relative;
}

.portrait {
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.image-2 {
  right: 94px;
  top: 38px;
  width: 70px;
  float: right;
  position: absolute;
  margin-bottom: 50px;
}
